In [5]:
import mysql.connector
import pandas as pd 

mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    passwd = 'root',
    database = 'retrowheels'
)

In [6]:
cursor = mydb.cursor()

query = 'select city, count(employeeNumber) as employeeNumber from offices, employees where employees.officeCode=offices.officeCode group by city order by employeeNumber desc'

cursor.execute(query)

result = cursor.fetchall()

df = pd.DataFrame(result, columns = cursor.column_names)
print(df)

            city  employeeNumber
0  San Francisco               6
1          Paris               5
2         Sydney               4
3         Boston               2
4            NYC               2
5          Tokyo               2
6         London               2

In [7]:
cursor = mydb.cursor()

query = 'select (select count(*) from productlines) as ProductLineNum, (select count(*) from products) as ProductNumber;'

cursor.execute(query)

result = cursor.fetchall()

df = pd.DataFrame(result, columns = cursor.column_names)
print(df)

   ProductLineNum  ProductNumber
0               7            110

In [14]:
cursor = mydb.cursor()

query = 'SELECT products.productCode, products.productName, products.productLine, sum(quantityOrdered) as orderQuantity FROM products, orderdetails where products.productCode=orderdetails.productCode GROUP BY productCode ORDER BY orderQuantity desc limit 5'

cursor.execute(query)

result = cursor.fetchall()

df = pd.DataFrame(result, columns = cursor.column_names)
print(df)

  productCode                              productName   productLine  \
0    S18_3232              1992 Ferrari 360 Spider red  Classic Cars
1    S18_1342                     1937 Lincoln Berline  Vintage Cars
2   S700_4002                American Airlines: MD-11S        Planes
3    S18_3856  1941 Chevrolet Special Deluxe Cabriolet  Vintage Cars
4    S50_1341             1930 Buick Marquette Phaeton  Vintage Cars

  orderQuantity
0          1808
1          1111
2          1085
3          1076
4          1074